form{
    width: 100%;
}

.video{
    border-radius: 25px;
}

::-webkit-scrollbar {
    width: 10px; 
  }
  
  ::-webkit-scrollbar-track {
    background: #2575fc; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #FFFFFF; 
    border-radius: 10px;
  }